body {
    font-family: 'Inter', sans-serif;
    -webkit-appearance: none;
    overflow: hidden;
}

.centered-div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 8px;
    width: 300px;
    
    padding: 16px;
    background-color: white;
}

#natricon {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    vertical-align: middle;
}

#natricon-border {
    margin-left: auto;
    margin-right: auto;
    width: 268px;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #4A90E2;
    margin-bottom: 16px;
}

#copy-btn {
    background-color: #4A90E2;
    color: white;
    border-radius:15px;
    border: none;
    padding: 16px;
    font-size: 18px;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #676686;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

#submit-btn {
    background-color: #4A90E2;
    color: white;
    border-radius:30px;
    border: none;
    padding: 15px;
    font-size: 18px;
    width: 250px;
    outline: none;
}

#submit-btn:active {
    transform: scale(0.9);
}

input {
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
    outline: none;
    -webkit-appearance: none;
    width: 230px;
}

select {
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
    outline: none;
    width: 250px;
    color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-icon {
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
    outline: none;
}

#wallet-btn {
    background-color: #4A90E2;
    color: white;
    border-radius:8px;
    border: none;
    padding: 15px;
    font-size: 18px;
    width: 300px;
    outline: none;
}

#wallet-btn:active {
    transform: scale(0.9);
}

#donate-link {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.modal {
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 8px;
    width: 300px;
    
    padding: 16px;
    background-color: white;
}

#cancel-btn {
    background-color: white;
    color: red;
    border-radius:8px;
    border: 1px solid red;
    padding: 15px;
    font-size: 18px;
    width: 285px;
    outline: none;
}

#cancel-btn:hover {
    background-color: rgb(252, 94, 94);
    color: white;
}

#cancel-btn:active {
    transform: scale(0.9);
}

#payment-successful-output {
    color: darkgreen;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 8px;
    width: 300px;
    margin-bottom: 7px;
    padding: 16px;
    background-color: rgb(107, 252, 94);
    display: none;
}

#payment-close-progress-bar-div {
    width: 316px;
    height: 3px;
    border-radius: 30px;
    background-color: rgb(107, 252, 94);
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#payment-close-progress-bar {
    width: 0%;
    height: 3px;
    background-color: darkgreen;
    animation-name: progress;
    animation-duration: 5s;
}

@keyframes progress {
    0%   {width: 20%;}
    0%   {width: 40%;}
    0%   {width: 60%;}
    0%   {width: 80%;}
    0%   {width: 100%;}
}

#countdown {
    color: white;
}

#payment-unsuccessful-output {
    color: rgb(100, 0, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 8px;
    width: 300px;
    margin-bottom: 7px;
    padding: 16px;
    background-color: rgb(252, 94, 94);
    display: none;
}

#payment-unsuccessful-progress-bar-div {
    width: 316px;
    height: 3px;
    border-radius: 30px;
    background-color: rgb(252, 94, 94);
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#payment-unsuccessful-progress-bar {
    width: 0%;
    height: 3px;
    background-color: rgb(100, 0, 0);
    animation-name: expired;
    animation-duration: 5s;
}

@keyframes expired {
    0%   {width: 20%;}
    0%   {width: 40%;}
    0%   {width: 60%;}
    0%   {width: 80%;}
    0%   {width: 100%;}
}